<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>AppComponent</h3>
      <input
        type="text"
        [(ngModel)]="name">
      <p>{{name}}</p>
      <button
        class="btn btn-primary"
        [disabled]="name.length <= 0"
        (click)="onResetUser()">Reset User</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <hr>
      <app-servers></app-servers>
      <app-success-message></app-success-message>
    </div>
  </div>
</div>
